<div class="row">
    <div class="col-md-4">
        <h3>AngularJS</h3>
        <p>HTML is great for declaring static documents, but it falters when we try to use it for declaring dynamic views in web-applications. AngularJS lets you extend HTML vocabulary for your application. The resulting environment is extraordinarily expressive, readable, and quick to develop.</p>
        <a href="http://www.angularjs.com">Source</a>   
    </div>
    <div class="col-md-4">
        <h3>CoffeeScript</h3>
        <p>CoffeeScript is a little language that compiles into JavaScript. Underneath that awkward Java-esque patina, JavaScript has always had a gorgeous heart. CoffeeScript is an attempt to expose the good parts of JavaScript in a simple way.</p>
        <a href="http://coffeescript.org/">Source</a>   
    </div>
    <div class="col-md-4">
        <h3>CoffeeLint</h3>
        <p>CoffeeLint is a style checker that helps keep CoffeeScript code clean and consistent. CoffeeScript does a great job at insulating programmers from many of JavaScript's bad parts, but it won't help enforce a consistent style across a code base. CoffeeLint can help with that.</p>
        <a href="http://www.coffeelint.org/">Source</a>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h3>GruntJS</h3>
        <p>In one word: automation. The less work you have to do when performing repetitive tasks like minification, compilation, unit testing, linting, etc, the easier your job becomes. After you've configured it, a task runner can do most of that mundane work for you—and your team—with basically zero effort.</p>
        <a href="http://www.gruntjs.com">Source</a>   
    </div>
    <div class="col-md-4">
        <h3>Closure Compiler</h3>
        <p>The Closure Compiler is a tool for making JavaScript download and run faster. It is a true compiler for JavaScript. Instead of compiling from a source language to machine code, it compiles from JavaScript to better JavaScript. It parses your JavaScript, analyzes it, removes dead code and rewrites and minimizes what's left. It also checks syntax, variable references, and types, and warns about common JavaScript pitfalls.</p>
        <a href="https://developers.google.com/closure/compiler/">Source</a>   
    </div>
    <div class="col-md-4">
        <h3>Twitter Bootstrap 3</h3>
        <p>You are never more than 3 clicks from Twitter Bootstrap on the internet.</p>
        <a href="http://www.getbootstrap.com/">Source</a>
    </div>
</div>